html {min-height: 100%; }
body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%; 
    min-height: 100%;
	background: linear-gradient(to right, red , yellow); 
    background-repeat: repeat-x; 
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
	font: 900 0.8em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
}

#randomColor {
    font: 900 0.8em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
    padding: 1px 5px 1px 5px;
    margin-left: 10px;
    border-radius: 5px;
}

#randomColor:hover {
    cursor: pointer;
}

.options {
    margin: 20px;
    display: flex;
    justify-content: center;
  
}

.radio {
    background-color: blue;
    height: 15px;
    width: 15px;
    filter: grayscale(1);
}

.radio:hover, label:hover{
    cursor: pointer;
}